body {
  visibility: hidden !important;
  background-image: none !important;
}
body.reading-mode-center {
  overflow-y: hidden;
}
.reading-mode-hidden,
.reading-mode-article footer ~div {
  display: none !important;
}
body,
.reading-mode-hidden,
.reading-mode-parent,
.no-margin-padding {
  margin: 0 !important;
  padding: 0 !important;
}
.reading-mode-article {
  visibility: visible !important;
  background-image: none !important;
}
.reading-mode-center .reading-mode-article {
  position: fixed !important;
  max-height: 100% !important;
  overflow-y: scroll !important;
  padding-right: max(calc(50% - 500px), 10px) !important;
  padding-left: max(calc(50% - 500px), 10px) !important;
}
.reading-mode-center-more .reading-mode-article {
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 100% !important;
}
.reading-mode-width-unset {
  width: unset !important;
}
.reading-mode-bg-image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.reading-mode-article .article-content {
  width: 100%;
}
